<div class="container-fluid page">
  <div class="page__box p-3 mt-2">View User</div>
  <div class="d-flex page__search p-2">
    <div class="d-flex ">
      <input
        type="search"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
    </div>

    <div class="icon">
      <a routerLinkActive="list-item-active" (click)="open()"><mat-icon [ngStyle]="{ color: 'green' }">add</mat-icon></a>
      <mat-icon>print</mat-icon>
      <mat-icon [ngStyle]="{ color: 'blue' }">settings</mat-icon>
      <mat-icon>download</mat-icon>
    </div>
  </div>
  <!-- <div class="page__content shadow p-3 position-relative"> -->
  <app-user-grid></app-user-grid>
  <!-- </div> -->
</div>
