<!-- <ng-template #content let-modal> -->
  <div class="modal-header">
    <h1 class="modal-title">Delete User!</h1>
  </div>
  <div class="modal-body">
    <h1 class="">Are You Sure Want to Delete!</h1>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal('cancel')">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="closeModal('delete')"
    >
      Delete
    </button>
  </div>
<!-- </ng-template> -->
